<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" type="text/css" />
    <title>Logout Page</title>
  </head>
  <body>
    <main>
      <form action="/logout" method="get">
        <h1>Hi, <%= locals.name %></h1>
        <button type="submit">Logout</button>
      </form>
    </main>
  </body>
</html>
